@model Mvp.Feature.BasicContent.Shared.Models.ContentListItem

<div class="col-12 col-lg-4">
    <div class="feature-panel-text">
        <h3 class="counter number">@Model.ItemSubtitle</h3>
        <h4>@Model.ItemTitle</h4>
        <p>@Model.ItemText</p>
        <a href="@Model.ItemLinkUrl" data-module="cta-button" data-goals="" class="cta primary" aria-label="@Model.ItemLinkDescription" target="">@Model.ItemLinkDescription</a>
    </div>
</div>